@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<KubaBlog.EntityLayer.Concrete.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<h1>Kategori Listesi</h1>
<br />
<table class="table table-bordered">
<tr>
    <th>#</th>
    <th>Kategori Adı</th>
    <th>Pasif Yap</th>
    <th>Aktif Yap</th>
    <th>Kalıcı Sil</th>
</tr>
@foreach(var item in Model)
{
    <tr>
        <th>@item.CategoryId</th>
        <td>@item.CategoryName</td>
            <td>
                @if (item.CategoryStatus)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-secondary">Pasif</span>
                }
            </td>
            <td>

                @if (item.CategoryStatus)
                {
                    <a href="~/Admin/Category/ChangeStatusCategory/@item.CategoryId" id="Durum_@item.CategoryId" class="btn btn-secondary">Pasif Yap</a>
                }
                else
                {
                    <a href="~/Admin/Category/ChangeStatusCategory/@item.CategoryId" id="Durum_@item.CategoryId" class="btn btn-success">Aktif Yap</a>
                }

            </td>
            <td> <a href="~/Admin/Category/CategoryDelete/@item.CategoryId" class="btn btn-danger"> Sil </a> </td>
    </tr>
}
</table>
<a href="/Admin/Category/AddCategory/" class="btn btn-primary">Yeni Kategori</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page}))
