<div class="tech-btm">
    <h4>Bültenimize Katılın</h4>
    <p>Teknoloji, yazılım ve diğer bloglar.. </p>
    <form action="/NewsLetter/SubscribeEmail/" method="post">
        <input type="email" placeholder="Email" required="" name="Email">
        <input type="submit" value="Abone Ol">
    </form>
</div>